In [1]:
import pandas as pd 
import numpy as np
import warnings
import seaborn as sns
import matplotlib
warnings.filterwarnings('ignore')
%matplotlib

Using matplotlib backend: <object object at 0x000001A841B0AAE0>

In [2]:
df=pd.read_csv('IMDB.csv')

In [3]:
df.head()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose

In [4]:
df.tail()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
245,246,The Help,2011,8.1,Drama,PG-13,2h 26m,Change begins with a whisper.,25000000,216639112,"Viola Davis,Emma Stone,Octavia Spencer,Bryce D...",Tate Taylor,"Tate Taylor,Kathryn Stockett"
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,2h 22m,There is man and beast at nature's mercy. Ther...,4000000,14480,"Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...",Akira Kurosawa,"Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"
248,249,Gandhi,1982,8.0,"Biography,Drama,History",PG,3h 11m,His Triumph Changed The World Forever.,22000000,52767889,"Ben Kingsley,John Gielgud,Rohini Hattangadi,Ro...",Richard Attenborough,John Briley
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",PG-13,3h 1m,Inside everyone is a frontier waiting to be di...,22000000,424208848,"Kevin Costner,Mary McDonnell,Graham Greene,Rod...",Kevin Costner,Michael Blake

In [5]:
df.describe()

             rank         year      rating
count  250.000000   250.000000  250.000000
mean   125.500000  1986.360000    8.307200
std     72.312977    25.125356    0.229081
min      1.000000  1921.000000    8.000000
25%     63.250000  1966.250000    8.100000
50%    125.500000  1994.000000    8.200000
75%    187.750000  2006.000000    8.400000
max    250.000000  2022.000000    9.300000

In [6]:
df.shape

(250, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         250 non-null    int64
 1   name         250 non-null    object
 2   year         250 non-null    int64
 3   rating       250 non-null    float64
 4   genre        250 non-null    object
 5   certificate  250 non-null    object
 6   run_time     250 non-null    object
 7   tagline      250 non-null    object
 8   budget       250 non-null    object
 9   box_office   250 non-null    object
 10  casts        250 non-null    object
 11  directors    250 non-null    object
 12  writers      250 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 25.5+ KB

In [8]:
df.columns

Index(['rank', 'name', 'year', 'rating', 'genre', 'certificate', 'run_time',
       'tagline', 'budget', 'box_office', 'casts', 'directors', 'writers'],
      dtype='object')

In [9]:
df.isnull().sum()

rank           0
name           0
year           0
rating         0
genre          0
certificate    0
run_time       0
tagline        0
budget         0
box_office     0
casts          0
directors      0
writers        0
dtype: int64

In [10]:
df['genre']=df['genre'].astype(str,'ignore')
df.head()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         250 non-null    int64
 1   name         250 non-null    object
 2   year         250 non-null    int64
 3   rating       250 non-null    float64
 4   genre        250 non-null    object
 5   certificate  250 non-null    object
 6   run_time     250 non-null    object
 7   tagline      250 non-null    object
 8   budget       250 non-null    object
 9   box_office   250 non-null    object
 10  casts        250 non-null    object
 11  directors    250 non-null    object
 12  writers      250 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 25.5+ KB

In [21]:
df.groupby(['name'])['rating'].sum(10)

name
12 Angry Men                   9.0
12 Years a Slave               8.1
1917                           8.2
2001: A Space Odyssey          8.3
3 Idiots                       8.4
                              ...
Wild Strawberries              8.1
Wild Tales                     8.1
Witness for the Prosecution    8.4
Yojimbo                        8.2
Your Name.                     8.4
Name: rating, Length: 250, dtype: float64

In [23]:
df.rating.max()

9.3

In [19]:
df.rating.min()

8.0

In [20]:
df.query('rating==9.3')

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"

In [25]:
df.budget.unique()

array(['25000000', '6000000', '185000000', '13000000', '350000',
       '22000000', '94000000', '8000000', '93000000', '1200000',
       '55000000', '63000000', '160000000', '18000000', '3000000',
       '33000000', '125000000', '3180000', '19000000', '$3300000',
       '70000000', '165000000', '20000000', '60000000', '11000000',
       '102000000', '35000000', '806947', '11400000', 'RF\xa0115000000',
       '45000000', '103000000', '90000000', '40000000', '3300000',
       '950000', '3700000', 'Not Available', '9500000', '1500000',
       '5000000', '1000000', '31500000', '9000000', '100000000',
       '180000000', '2000000', '1752000', '935000', '321000000',
       '18500000', '15000000', '1800000', '250000000', '175000000',
       '30000000', '72000000', 'EM\xa032000000', '356000000',
       '2400000000', '550000000', '2540800', '4500000', '200000000',
       '32500000', '12000000', '839727', '3101000', '2479000', '10000000',
       '2200000', '927262', '170000000', '6800000', '5500000', '500000',
       'EM\xa06000000', '1300000', '28000000', '48000000', '133000',
       '95000000', '13500000', '600000', '150000000', '250000', '2883848',
       '1400000', '23000000', '52000000', '11500000', '14400000',
       '80000000', '58000000', '229575', '4000000', '54000000', '3977000',
       '960000', '24000000', '46000000', '7000000', '923000', '2500000',
       '910000', '750000', '2800000', '1900000', '150000', '$8240000',
       '115000000', '16400000', '17500000', '97600000', '6400000',
       '97000000', '38000000', '3800000', '2777000', '14600000',
       '2100000', '92000000', '800000', '140000000', '1288000', '3200000',
       '8200000', '325000'], dtype=object)

In [26]:
df.replace('Not Available',0,inplace=True)

In [28]:
df.loc[239]

rank                                                         240
name                                               The 400 Blows
year                                                        1959
rating                                                       8.1
genre                                                Crime,Drama
certificate                                            Not Rated
run_time                                                  1h 39m
tagline        From the Vanguard of New Film-Makers Comes an ...
budget                                                         0
box_office                                                127244
casts          Jean-Pierre Léaud,Albert Rémy,Claire Maurier,G...
directors                                      François Truffaut
writers                          François Truffaut,Marcel Moussy
Name: 239, dtype: object

In [29]:
df.budget.unique()

array(['25000000', '6000000', '185000000', '13000000', '350000',
       '22000000', '94000000', '8000000', '93000000', '1200000',
       '55000000', '63000000', '160000000', '18000000', '3000000',
       '33000000', '125000000', '3180000', '19000000', '$3300000',
       '70000000', '165000000', '20000000', '60000000', '11000000',
       '102000000', '35000000', '806947', '11400000', 'RF\xa0115000000',
       '45000000', '103000000', '90000000', '40000000', '3300000',
       '950000', '3700000', 0, '9500000', '1500000', '5000000', '1000000',
       '31500000', '9000000', '100000000', '180000000', '2000000',
       '1752000', '935000', '321000000', '18500000', '15000000',
       '1800000', '250000000', '175000000', '30000000', '72000000',
       'EM\xa032000000', '356000000', '2400000000', '550000000',
       '2540800', '4500000', '200000000', '32500000', '12000000',
       '839727', '3101000', '2479000', '10000000', '2200000', '927262',
       '170000000', '6800000', '5500000', '500000', 'EM\xa06000000',
       '1300000', '28000000', '48000000', '133000', '95000000',
       '13500000', '600000', '150000000', '250000', '2883848', '1400000',
       '23000000', '52000000', '11500000', '14400000', '80000000',
       '58000000', '229575', '4000000', '54000000', '3977000', '960000',
       '24000000', '46000000', '7000000', '923000', '2500000', '910000',
       '750000', '2800000', '1900000', '150000', '$8240000', '115000000',
       '16400000', '17500000', '97600000', '6400000', '97000000',
       '38000000', '3800000', '2777000', '14600000', '2100000',
       '92000000', '800000', '140000000', '1288000', '3200000', '8200000',
       '325000'], dtype=object)

In [39]:
df['budget']=df.budget.str.replace(r'\D',"")
df.budget.unique()

array(['25000000', '6000000', '185000000', '13000000', '350000',
       '22000000', '94000000', '8000000', '93000000', '1200000',
       '55000000', '63000000', '160000000', '18000000', '3000000',
       '33000000', '125000000', '3180000', '19000000', '3300000',
       '70000000', '165000000', '20000000', '60000000', '11000000',
       '102000000', '35000000', '806947', '11400000', '115000000',
       '45000000', '103000000', '90000000', '40000000', '950000',
       '3700000', nan, '9500000', '1500000', '5000000', '1000000',
       '31500000', '9000000', '100000000', '180000000', '2000000',
       '1752000', '935000', '321000000', '18500000', '15000000',
       '1800000', '250000000', '175000000', '30000000', '72000000',
       '32000000', '356000000', '2400000000', '550000000', '2540800',
       '4500000', '200000000', '32500000', '12000000', '839727',
       '3101000', '2479000', '10000000', '2200000', '927262', '170000000',
       '6800000', '5500000', '500000', '1300000', '28000000', '48000000',
       '133000', '95000000', '13500000', '600000', '150000000', '250000',
       '2883848', '1400000', '23000000', '52000000', '11500000',
       '14400000', '80000000', '58000000', '229575', '4000000',
       '54000000', '3977000', '960000', '24000000', '46000000', '7000000',
       '923000', '2500000', '910000', '750000', '2800000', '1900000',
       '150000', '8240000', '16400000', '17500000', '97600000', '6400000',
       '97000000', '38000000', '3800000', '2777000', '14600000',
       '2100000', '92000000', '800000', '140000000', '1288000', '3200000',
       '8200000', '325000'], dtype=object)

In [46]:
df['budget']=df.budget.str.replace(r'\W',"")

In [47]:
df.budget.unique()

array(['25000000', '6000000', '185000000', '13000000', '350000',
       '22000000', '94000000', '8000000', '93000000', '1200000',
       '55000000', '63000000', '160000000', '18000000', '3000000',
       '33000000', '125000000', '3180000', '19000000', '3300000',
       '70000000', '165000000', '20000000', '60000000', '11000000',
       '102000000', '35000000', '806947', '11400000', '115000000',
       '45000000', '103000000', '90000000', '40000000', '950000',
       '3700000', nan, '9500000', '1500000', '5000000', '1000000',
       '31500000', '9000000', '100000000', '180000000', '2000000',
       '1752000', '935000', '321000000', '18500000', '15000000',
       '1800000', '250000000', '175000000', '30000000', '72000000',
       '32000000', '356000000', '2400000000', '550000000', '2540800',
       '4500000', '200000000', '32500000', '12000000', '839727',
       '3101000', '2479000', '10000000', '2200000', '927262', '170000000',
       '6800000', '5500000', '500000', '1300000', '28000000', '48000000',
       '133000', '95000000', '13500000', '600000', '150000000', '250000',
       '2883848', '1400000', '23000000', '52000000', '11500000',
       '14400000', '80000000', '58000000', '229575', '4000000',
       '54000000', '3977000', '960000', '24000000', '46000000', '7000000',
       '923000', '2500000', '910000', '750000', '2800000', '1900000',
       '150000', '8240000', '16400000', '17500000', '97600000', '6400000',
       '97000000', '38000000', '3800000', '2777000', '14600000',
       '2100000', '92000000', '800000', '140000000', '1288000', '3200000',
       '8200000', '325000'], dtype=object)